<div class="flex flex-col sm:flex-row items-start sm:items-center justify-between gap-4">

    <div class="w-full sm:w-auto">
        <p class="text-2xl sm:text-3xl lg:text-4xl font-bold break-words">{{myProduct().title}}</p>
        <span class="text-[#0F9168] bg-[#10292B] w-fit rounded-xl px-2 py-1 text-xs sm:text-sm flex items-center mt-2">IN STOCK</span>
    </div>

    <div class="flex gap-2 w-full sm:w-auto">
        <button class="rounded-md bg-gray-100 p-2 sm:px-3 sm:py-2 text-gray-600 transition hover:text-gray-600/75 dark:bg-gray-800 dark:text-white dark:hover:text-white/75 
       flex items-center gap-2 hover:cursor-pointer text-sm flex-1 sm:flex-initial justify-center">
            <i class="fa-solid fa-share-nodes"></i> 
            <span class="hidden sm:inline">Share</span>
        </button>

    </div>

</div>