<div class="flex items-center justify-between">

    <div>
        <p class="text-4xl font-bold">{{myProduct().title}}</p>
        <span class="text-[#0F9168] bg-[#10292B] w-fit rounded-xl px-1 flex items-center">IN Stock</span>

    </div>

    <div class="flex gap-2">
        <button class="rounded-md bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75 dark:bg-gray-800 dark:text-white dark:hover:text-white/75 
       flex items-center gap-2 hover:cursor-pointer "><i class="fa-solid fa-share-nodes"></i> Share</button>
        <button
            class="rounded-md bg-blue-500 px-5 py-2.5 text-sm font-medium text-white shadow-sm hover:bg-blue-600 dark:hover:bg-blue-600 flex items-center gap-2 hover:cursor-pointer"><i
                class="fa-solid fa-pen"></i>Edit Profile</button>
    </div>

</div>