<div
  class="bg-[#0F172A] p-3 md:p-5 text-white rounded-2xl space-y-4 md:space-y-6 border border-gray-700 w-full md:w-125 h-fit"
>
  <div class="flex justify-between">
    <p class="font-bold text-[14px] md:text-[16px]">Contact Info</p>
    <button
      class="text-[12px] md:text-[14px] font-bold hover:underline text-[#137fec] cursor-pointer"
    >
      Change
    </button>
  </div>

  <div class="flex items-center gap-3 md:gap-6 text-[#92A1B6]">
    <div class="bg-[#0F213D] w-fit p-3 md:p-4 rounded-xl">
      <i class="fa-solid fa-phone text-[#137fec]"></i>
    </div>
    <div>
      <p class="text-[10px] md:text-[12px]">PHONE</p>
      <p class="text-[12px] md:text-[14px]">01287044335</p>
    </div>
  </div>

  <div class="flex items-center gap-3 md:gap-6 text-[#92A1B6]">
    <div class="bg-[#0F213D] w-fit p-3 md:p-4 rounded-xl">
      <i class="fa-solid fa-location-dot text-[#137fec]"></i>
    </div>
    <div>
      <p class="text-[10px] md:text-[12px]">ADDRESS</p>
      <p class="text-[12px] md:text-[14px]">Egypt</p>
      <p class="text-[12px] md:text-[14px]">Ismailia</p>
    </div>
  </div>
</div>
