<div
  class="bg-slate-800 p-3 md:p-5 text-white rounded-2xl space-y-4 md:space-y-6 border border-slate-700 hover:border-slate-600 transition w-full lg:w-125 h-fit"
>
  <div class="flex justify-between">
    <p class="font-bold text-[14px] md:text-[16px]">Contact Info</p>
  </div>

  <div class="flex items-center gap-3 md:gap-6 text-[#92A1B6]">
    <div class="bg-[#0F213D] w-fit p-3 md:p-4 rounded-xl">
      <i class="fa-solid fa-envelope text-[#137fec]"></i>
    </div>
    <div>
      <p class="text-[10px] md:text-[12px]">EMAIL</p>
      <p class="text-[12px] md:text-[14px]">{{ user()?.email }}</p>
    </div>
  </div>

  <div class="flex items-center gap-3 md:gap-6 text-[#92A1B6]">
    <div class="bg-[#0F213D] w-fit p-3 md:p-4 rounded-xl">
      <i class="fa-solid fa-phone text-[#137fec]"></i>
    </div>
    <div>
      <p class="text-[10px] md:text-[12px]">PHONE</p>
      <p class="text-[12px] md:text-[14px]">{{ user()?.phone }}</p>
    </div>
  </div>

  <div class="flex items-center gap-3 md:gap-6 text-[#92A1B6]">
    <div class="bg-[#0F213D] w-fit p-3 md:p-4 rounded-xl">
      <i class="fa-solid fa-location-dot text-[#137fec]"></i>
    </div>
    <div>
      <p class="text-[10px] md:text-[12px]">ADDRESS</p>
      <p class="text-[12px] md:text-[14px]">{{ user()?.country }}</p>
      <p class="text-[12px] md:text-[14px]">{{ user()?.city }}</p>
    </div>
  </div>
</div>
