<div class="flex gap-6 justify-items-center align-middle p-4  w-full my-6">

    <!-- image -->
    <div class="hidden  w-[50%]  md:flex justify-center items-center ">
        <img src="assets/radio.png" alt="" class="rounded-2xl w-120 h-70">

    </div>

    <!-- text -->
    <div class="w-full  space-y-8 md:w-[50%] ">

        <span class="text-[#1F75CA] bg-[#13304C] font-bold inline-block border rounded-full w-fit px-3 py-1 ">NEW COLLECTION</span>

        <p class="text-black text-4xl font-bold dark:text-white">

            Elevate Your Style With <span class="text-[#258CF4]">Next-Gen</span> Gear
        </p>

        <p class="text-[#94A3B8]"> Experience the sleekest dark-themed gear with high-contrast performance and electric
            blue accents. Built for professionals, styled for you. </p>


        <div class="flex flex-wrap gap-4">
            <button routerLink="/categories" class=" rounded bg-[#258CF4]  text-white py-2 px-4 cursor-pointer hover:bg-[#0f6ac6]">Shop Now</button>
            <button routerLink="/about" class=" rounded bg-[#283039] text-white py-2 px-4 cursor-pointer hover:bg-[#2f3842] ">Learn More</button>
        </div>
    </div>

</div>