<div
  class="bg-white dark:bg-slate-800 p-3 md:p-7 text-gray-900 dark:text-white rounded-2xl border border-gray-200 dark:border-slate-700 hover:border-gray-300 dark:hover:border-slate-600 transition w-full flex items-center justify-between shadow-md"
>
  <div class="flex gap-5 items-center">
    <div class="bg-gray-100 dark:bg-[#0F213D] w-fit p-3 md:p-4 rounded-xl">
      <i class="fa-solid fa-headset text-blue-500"></i>
    </div>
    <div class="text-[11px] md:text-[16px]">
      <p class="font-bold">Need help with an order?</p>
      <p class="text-gray-500 dark:text-gray-300">Our customer support is available 24/7</p>
    </div>
  </div>

  <button
    routerLink="/contact"
    class="bg-blue-500 text-white text-[10px] md:text-[16px] p-1.5 md:p-2.5 rounded-md font-bold hover:bg-blue-600 cursor-pointer"
  >
    Contact us
  </button>
</div>
