<!--  -->
<div class="my-3 mx-4 md:mx-6">
  <!-- profile data component-->
  <app-profile-header [user]="user()"></app-profile-header>

  <!-- contact and order history -->
  <div class="flex flex-col lg:flex-row gap-6">
    <!-- contact component -->
    <app-profile-contact-info [user]="user()"></app-profile-contact-info>

    <div class="flex flex-col gap-6 w-full">
      <!-- orders component -->
      <app-profile-orders [user]="user()"></app-profile-orders>

      <!-- contact us component -->
      <app-profile-contact-us [user]="user()"></app-profile-contact-us>
    </div>
  </div>
</div>
