<div class="flex flex-col justify-center items-center gap-2 h-64 w-full rounded-2xl px-5 mb-5 bg-linear-to-tl from-[#132E49] via-[#122437] to-[#132F4C]">

    <h1 class="font-bold text-white text-4xl">Seasonal Sale is Now live </h1>
    <p class="text-[#9FABB9]">Get 20% off all admin-picked categories for a limited time. Join our membership for
        exclusive early access to
        drops.</p>

    <div class="flex gap-3 ">
        <button class="rounded bg-[#258CF4]  text-white py-2 px-4 cursor-pointer hover:bg-[#0f6ac6]">View Deals</button>
        <button routerLink="/register" class="rounded border bg-[#122437] text-[#258CF4] py-2 px-6 cursor-pointer hover:text-white ">Sign Up</button>
    </div>
</div>