<div
  class="relative overflow-x-auto bg-[#0F172A] shadow-xs rounded-2xl border border-gray-700 w-full max-h-100"
>
  <table class="w-full text-[12px] md:text-sm text-left text-white">
    <caption class="p-4 md:p-5 text-[14px] md:text-lg font-medium text-left text-heading">
      Order History
      <p class="mt-1 text-[10px] md:text-sm font-normal text-body text-[#92A1B6]">
        Track your past purchases.
      </p>
    </caption>
    <thead
      class="text-[12px] md:text-sm bg-[#162033] border-b border-t border-gray-700 text-[#92A1B6]"
    >
      <tr>
        <th scope="col" class="px-4 md:px-6 py-2 md:py-3 font-medium">Order ID</th>
        <th scope="col" class="px-4 md:px-6 py-2 md:py-3 font-medium">Date</th>
        <th scope="col" class="px-4 md:px-6 py-2 md:py-3 font-medium">Total</th>
        <th scope="col" class="px-4 md:px-6 py-2 md:py-3 font-medium">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-b border-gray-700">
        <th
          scope="row"
          class="px-4 md:px-6 py-2 md:py-4 font-medium text-heading whitespace-nowrap"
        >
          #ORD-9234
        </th>
        <td class="px-4 md:px-6 py-2 md:py-4">01 Jan 2026</td>
        <td class="px-4 md:px-6 py-2 md:py-4">$210</td>
        <td class="px-4 md:px-6 py-2 md:py-4">
          <p class="processing">• Processing</p>
        </td>
      </tr>
      <tr class="border-b border-gray-700">
        <th
          scope="row"
          class="px-4 md:px-6 py-2 md:py-4 font-medium text-heading whitespace-nowrap"
        >
          #ORD-9235
        </th>
        <td class="px-4 md:px-6 py-2 md:py-4">02 Jan 2026</td>
        <td class="px-4 md:px-6 py-2 md:py-4">$150</td>
        <td class="px-4 md:px-6 py-2 md:py-4">
          <p class="in-transit">• In-Transit</p>
        </td>
      </tr>
      <tr class="border-b border-gray-700">
        <th
          scope="row"
          class="px-4 md:px-6 py-2 md:py-4 font-medium text-heading whitespace-nowrap"
        >
          #ORD-9236
        </th>
        <td class="px-4 md:px-6 py-2 md:py-4">03 Jan 2026</td>
        <td class="px-4 md:px-6 py-2 md:py-4">$320</td>
        <td class="px-4 md:px-6 py-2 md:py-4">
          <p class="delivered">• Delivered</p>
        </td>
      </tr>
      <tr class="border-b border-gray-700">
        <th
          scope="row"
          class="px-4 md:px-6 py-2 md:py-4 font-medium text-heading whitespace-nowrap"
        >
          #ORD-9237
        </th>
        <td class="px-4 md:px-6 py-2 md:py-4">04 Jan 2026</td>
        <td class="px-4 md:px-6 py-2 md:py-4">$520</td>
        <td class="px-4 md:px-6 py-2 md:py-4">
          <p class="processing">• Processing</p>
        </td>
      </tr>
      <tr class="border-b border-gray-700">
        <th
          scope="row"
          class="px-4 md:px-6 py-2 md:py-4 font-medium text-heading whitespace-nowrap"
        >
          #ORD-9238
        </th>
        <td class="px-4 md:px-6 py-2 md:py-4">05 Jan 2026</td>
        <td class="px-4 md:px-6 py-2 md:py-4">$180</td>
        <td class="px-4 md:px-6 py-2 md:py-4">
          <p class="in-transit">• In-Transit</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
