/* You can add global styles to this file, and also import other style files */
@config "../tailwind.config.js";
@import 'tailwindcss';

/* body {
  background-color: #101922;
} */

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 12px; /* width of vertical scrollbar */
  height: 12px; /* height of horizontal scrollbar */
  border-radius: 8px; /* round edges */
}

::-webkit-scrollbar-track {
  background: #1e293b; /* track background */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* thumb color */
  border-radius: 8px;
  border: 3px solid #1e293b; /* padding around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2563eb; /* hover color */
}

/* Firefox */
* {
  scrollbar-width: thin; /* auto, thin, none */
  scrollbar-color: #3b82f6 #1e293b; /* thumb track */
}
